@font-face {
    font-family:'IRANSans' ;
    src: url('../fonts/IRANSans.ttf');
}
@font-face {
    font-family: 'IRANSansBold';
    src: url('../fonts/IRANSansBold.ttf');
}
@font-face {
    font-family: 'IRANSansMedium';
    src: url('../fonts/IRANSansMedium.ttf');
}
@font-face {
    font-family: 'IRANSansLight';
    src: url('../fonts/IRANSansLight.ttf');
}
@font-face {
    font-family: 'IRANSansDn';
    src: url('../fonts/IRANSansDn.ttf');
}
@font-face {
    font-family: 'IRANSansDnBold';
    src: url('../fonts/IRANSansDNBold.ttf');
}
@font-face {
    font-family: 'IRANSansDnLight';
    src: url('../fonts/IRANSansDNLight.ttf');
}
:root {
    --dark-green: #009959;
    --orange: #FF6900;
    --yellow: #FFD200;
    --light-green:#C9D1B1;
    --light-red:#FEF5EC;
    --back-gray: #E2E3E4;
    --c-gray-1: #f4f4f4;
    --c-gray-2: #f7F6F9;
    --black:#000;
  }
  .test{
    color: var(--dark-green);
  }
  body{
    direction: rtl;
  }
  .greenBtn{
    background-color: var(--dark-green) !important;
    border: none !important;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 153, 89, 0.24);
    height: 36px;
    min-width: 170px;
    color: #fff;
    font-family: 'IRANSansMedium';
    font-size: 15px;
    padding-right: 25px !important;
    padding-left:25px !important;
  }
  .greenBtn:hover{
    background-color: var(--yellow) !important;
    box-shadow:3px 6px 15px rgba(255, 227, 77, 0.6);
  }
  .ta-right{
    text-align: right;
  }
  textarea:focus, input:focus{
    border-color: rgba(229, 103, 23, 0.8);
    box-shadow:0px 4px 10px rgba(0, 0, 0, 0.16);
    outline: 0 none;
  }
  .passwordBox:focus{
  border-color: rgba(229, 103, 23, 0.8);
  box-shadow:0px 4px 10px rgba(0, 0, 0, 0.16);
  outline: 0 none;
  }
  a:hover{
    color: var(--yellow) !important;
  }
  input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.form-select:focus{
  box-shadow:0px 4px 10px rgba(0, 0, 0, 0.16) !important;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.btn-check:focus + .btn-primary, .btn-primary:focus{
  box-shadow: none !important;
}
  /**********login*************/
  .loginBody{
    background-color: var(--c-gray-1);
    height: 100%;
    min-height: 100vh;
    padding: 5%;
  }
  .loginBox{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    display: block;
    height: 500px;
  }
  .grayBack{
    background-color: #fbfbfb;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    text-align: right;
    position: relative;
  }
  .whiteBack{
    background-color: #fff;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  
  }
  .loginImg{
    width: 55%;
    position: absolute;
    bottom: 0;
  }
  .loginDetailBox{
    padding:5% 15%;
  }
  .hasAcoount{
    text-align: left;
    font-family: 'IRANSansMedium';
    color:var(--black);
    font-size: 12px;
  }
  .hasAcoount a{
    color:var(--dark-green);
    margin-right: 5px;
    text-decoration: none;
  }
  .loginTitle{
    color: var(--dark-green);
    font-family: 'IRANSansBold';
    font-size: 25px;
    text-align: right;
    margin-top: 8%;
  }
  .customHeight1{
    height:40px;
  }
  .customHeight2{
    height: 20px;
  }
  .inputTitle{
    font-family: 'IRANSansMedium';
    font-size: 15px;
  }
  .inputCLass{
    background-color: var(--c-gray-2);
    border-radius: 5px;
    height: 40px;
    width: 100%;
    padding: 5px 15px;
    text-align: right;
    font-size: 12px;
    font-family: 'IRANSans';
    color: #000;
    border: none;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .passwordBox{
    display: flex;
    background-color: var(--c-gray-2);
    border-radius: 5px;
    height: 40px;
    width: 100%;
   
    border: none;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .passwordInput{
    width: 93%;
    background-color: transparent;
    border: none;
    height: 40px;
    padding: 5px 15px;
    text-align: right;
    font-size: 12px;
    font-family: 'IRANSans';
    color: #000;
    border: none;
  }
  .passwordInput:focus{
    box-shadow: none !important;
  }
  .passwordShow{
    background-color: transparent;
    border: none;
    box-shadow: none;
    padding: 0px;
  }
  .checkBoxLable{
    font-family: 'IRANSansLight';
    font-size: 12px;
  }
  .siteSlogan p{
    font-family: 'IRANSansBold';
    font-size: 35px;
    color: rgba(81, 81, 81, 0.5);
  }
  .siteSlogan{
    width: 40%;
position: absolute;
left: 10%;
top: 15%;
  }
  .checkBoxLable a{
    color: #009959 !important;
    text-decoration: none !important;
  }
  /*************Header***********************/
  .topBar{
    background-color: var(--dark-green);
    height: 34px;
    width: 100%;
    display: flex;
    align-items: center;
  }
  .topBarText{
    font-family: 'IRANSans';
    margin-right: 15px;
    font-size: 15px;
    color: #fff;
    margin-bottom: 0px;
  }
  .topBarLeft{
    display: flex;
    justify-content: end;
  }
  .topBarIcon{
    margin-right: 10px;
    margin-left:10px;
  }
  .grayBar{
    background-color: var(--c-gray-1);
    height: 110px;
    display: flex;
  }
  .logo{
    width:100px;
  }
  .grayBarContainer{
    display: flex;
    justify-content: start;
    align-items: center;
    justify-content: space-between;
  }
  .searchDiv{
    display: flex;
    align-items: center;
    background-color: #fff;
    height: 40px;
    border-radius: 25px;
    width: 450px;
    padding: 10px;
  }
  .searchInput{
    border: none;
    width: 95%;
    font-family: 'IRANSans';
    font-size: 12px;
    color: #7B808C;

  }
  .cartBtn{
    display: flex;
    background-color: #fff !important;
    border:2px solid var(--dark-green) !important;
    border-radius: 5px;
    align-items: center;
    font-family: 'IRANSansMedium';
    color: var(--dark-green) !important;
   width: 128px;
   justify-content: space-between;
   box-shadow:0px 4px 10px rgba(98, 98, 98, 0.39);
   height: 40px;
   margin-left: 20px;
  }
  
  .cartBtn:hover{
    color: #fff !important;
    background-color: var(--dark-green) !important;
    fill: #fff !important;
    stroke: #fff !important;
  }
  .profileBtn{
    background-color: var(--dark-green) !important;
    color: #fff !important;
    border: none !important;
    border-radius: 5px;
    font-family: 'IRANSansMedium';
    height: 40px;
    box-shadow: 0px 4px 10px rgba(0, 153, 89, 0.24);
    border:2px solid var(--dark-green) !important;
    margin-left: 20px;
  }
  .profileBtn:hover{
    color: var(--dark-green) !important;
    background-color: #fff !important;
    fill: var(--dark-green)!important;
    stroke: var(--dark-green) !important;

  }
  .btnBox{
    display: flex;
  }
  .flag{
    height: 18px;
    width: 18px;
    border-radius: 50%;
  }
  .flagName{
    font-family: 'IRANSans';
    color: #000;
    margin-right: 5px;
    font-size: 12px;
  }
  .css-1sumxir-MuiFormLabel-root-MuiInputLabel-root{
  left: 5px !important;
    top: -5px !important;
    
    font-family: 'IRANSansLight' !important;

  }
  .sendComment{
    background-color: var(--yellow) !important;
    border: none !important;
    font-family: 'IRANSans' !important;
    color: #fff !important;
  }
  .languageSelect{
    height: 40px !important;
    padding-right: 5px;
  }
  .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root{
    -webkit-transform: translate(12px, 8px) scale(1) !important;
    transform: translate(12px, 8px) scale(1) !important;
    right: 20px !important;
    left: unset !important;
    font-family: 'IRANSansMedium' !important;
    font-size: 13px !important;
    color: #009959 !important;
  }
  .css-hfutr2-MuiSvgIcon-root-MuiSelect-icon{
    left: 7px !important;
    right: unset !important;
    color: var(--dark-green) !important;
    z-index: 1000;
  }
  .css-1d3z3hw-MuiOutlinedInput-notchedOutline{
    border: 2px solid var(--dark-green) !important;
    background-color: #fff !important;
  }
  .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.MuiSelect-select{
    z-index: 1000 !important;
  }
  .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input{
    padding:0px !important;
  }
  .whiteBar{
    height: 126px;
    background-color: #fff;
    display: flex;
    justify-content: center;
  }
  .btnImg{
    width: 54px;
    margin-bottom: 10px;
  }
  .topBarBtn{
    background-color: transparent !important;
    border: none !important;
    text-align: center;
    width: 150px;
    margin-right: 15px;
    margin-left: 15px;
  }
  .topBarBtn span{
    font-family: 'IRANSans' !important;
    color: #000;
  }
  .topBarBtn:hover span{
    color: #009959 !important;
  }
  /*****************footer**************/
  .footerBox{
    background-color: #000;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .footerTitle{
    font-family: 'IRANSansMedium';
    color: #fff;
    font-size: 15px;

  }
  .footerDescription{
    font-family: 'IRANSans';
    color: #fff;
    font-size: 12px;
    text-align: right;
    margin-top:10px;
    line-height: 21px;
    width: 80%;
  }
  .borderBottom{
    border-bottom: 2px solid #fff;
  }
  .w90{
    width: 90%;
    padding-bottom: 10px;
  }
  .footerList{
    list-style: none;
    padding-right: 0px !important
  }
  .footerList li{
    margin-top:5px;
    margin-bottom: 5px;
  }
  .footerList li a{
    color: #fff !important;
    text-decoration: none !important;
    font-family: 'IRANSans';
    font-size: 13px;
  }
  .footerLogo{
    width: 100px;
    margin-right: auto;
  }
  .footerIcon{
    margin-left: 10px;
  }
  /*****************consultationList*********/
  .bodyPadding{
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .searchBtn{
    height: 60px !important;
    width: 100% !important;
    font-size: 20px !important;
  }
  .whiteBox{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.16);
    border-radius: 5px;
    padding: 30px;
    background-color: #fff;
  }
  .whiteBoxTitle{
    font-family: 'IRANSansDnBold';
    font-size: 20px;
    text-align: right;
    color: #000;
  }
  .consultationDescription{
    font-family: 'IRANSansMedium';
    color: #000;
    font-size: 15px;
    margin-top: 30px;
    line-height: 30px;
  }
  .consultBox{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.16);
    border-radius: 5px;
    

  }
  .consultBox1{
    padding: 15px;
    border-bottom: 1px solid rgba(186, 186, 186, 0.25);
    display: flex;
    justify-content: space-between;
  }
  .consultBox2{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 0px !important;
  }
  .avatar{
    height: 55px;
    width: 55px;
    border-radius: 50%;
  }
  .consultName{
    font-size: 15px;
    font-family: 'IRANSansMedium';
    text-align: right;
    color: #000;
    margin-bottom: 3px !important;
  }
  .consultDegree{
    font-family: 'IRANSans';
    font-size: 13px;
    color: #000;
    margin-bottom: 3px !important;
  }
  .marginLeft5{
    margin-left: 5px;
  }
  .callBtn{
    background-color: transparent !important;
    color: var(--dark-green) !important;
    font-family: 'IRANSansMedium';
    font-size: 13px;
    border-right: none !important;
    border-top: none !important;
    border-bottom: none !important;
    border-left: none !important;
    border-radius: 0px !important;
    height: 25px;
    padding: 0px !important;
    width: 60px;
    text-align: center;
    text-decoration: none !important;
  }
  .borderLeftGreen{
    border-right: none !important;
    border-top: none !important;
    border-bottom: none !important;
    border-left: 1px solid #7B808C !important;
    margin-left: 5px;
  }
  .favorite{
    background-color: transparent !important;
    border: none !important;
    display: flex;
    margin-bottom: 15px;
  }
  .favorite p{
    color: #FF2525 !important;
    font-family: 'IRANSans' !important;
    font-size: 12px !important;
    margin-bottom: 0px !important;
    display: inline-block !important;
    margin-right: 5px;
  }
  .accardionBox{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.16);
    border-radius: 5px;
    margin-top: 15px;
  }
  .accordion__button{
    font-family: 'IRANSansBold';
    border-bottom: 1px solid #e5e5e5 !important;
    text-align: right !important;
    background-color: #fff !important;
    border-radius: 5px !important;
  }
  .accordion__button::before {
    float: left;
    background-size: cover;
    height: 7px !important;
    width: 12px !important;
    background-image: url("../img/down.png");
    transform: rotate(0deg) !important;
    margin-top: 10px;
    border-bottom:none !important;
border-right: none !important;
  }
  .accordion__panel{
    background-color: #fff !important;
  }
  .accordion__button[aria-expanded="true"]::before, .accordion__button[aria-selected="true"]::before {
    transform: rotate(180deg) !important;
  }
    .categoryLable{
        font-family: 'IRANSansMedium';
        color: #000;
        font-size: 15px;
    }
    .accordion__panel{
      padding: 10px !important;
    }


  .sliderCardBox{
    background-color: #fff;
    height: 380px;
    width: 260px;
    /* border: 1px solid #000; */
    text-align: center;
    text-decoration: none !important;

    padding: 25px !important;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.16);
    border-radius: 5px;
    margin-bottom: 10px;
  } 
  .slick-initialized .slick-slide{
    width: 258px !important;
    margin-right: 15px;
    margin-left: 15px;
  } 
  .containerWhite{
    background-color: #f4f4f4;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-bottom: 24px;
  }
  .sliderTitle{
    font-family: 'IRANSansDNBold';
    font-size: 30px;
    text-align: center;
    color: #000;
    
  }
  .sliderName{
    font-family: 'IRANSansBold';
    color: #000;
    font-size: 15px;
    margin-bottom: 5px;
  }
  .sliderDegree{
    font-family: 'IRANSans';
    color: #7B808C;
    font-size: 13px;
  }
  .sliderDescription{
    font-family: 'IRANSans';
    font-size: 13px;
  }
  .sliderImg{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
  }
  .consultationSlider{
    margin-top: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .consultModal{
    
  }
  .consultModal .modal-dialog{
    width: 400px !important;
  }
  .consultModal2 .modal-dialog{
    width: 460px !important;
  }
  .historyModal .modal-dialog{
    width: 600px !important;
  }
  .marginRight1rem{
    margin-right: 1rem;
  }
  .modal-header .btn-close{
    margin: 0px !important;
  }
  .btn-close{
    background: transparent url("../img/close.png") center/1em auto no-repeat !important;
  }
  .modal-title{
    color: var(--orange);
    font-family: 'IRANSansBold' !important;
    font-size: 20px !important;
  }
  .modal-content{
    padding: 15px !important;
  }
  .modalSaveBtn{
    background-color: var(--orange) !important;
    font-family: 'IRANSansBold' !important;
    color: #fff !important;
    border-radius: 5px !important;
    
    border: 2px solid var(--orange) !important;
  }
  .modal-footer{
    border-top: none !important;
  }
  .modalText{
    font-family: 'IRANSans' !important;
    color: #000 !important;

  }
  .modalText span{
    font-family: 'IRANSansBold' !important;
    margin-left: 10px;
    font-size: 15px;
  }
  .bSelect{
    width: 120px !important;
    background-color: #F7F6F9 !important;
    border: none !important;
    font-family: 'IRANSans' !important;
  }
  .form-select{
    background-position: left .75rem center !important;
  }
  .colorOrange{
    color: var(--orange) !important;
  }
  .modalSaveBtn2{
    background-color: transparent !important;
    border: 2px solid var(--orange) !important;
    border-radius: 5px !important;
    color: var(--orange) !important;
    font-family: 'IRANSans' !important;
  }
  .modalSaveBtn:hover{
    background-color: var(--yellow) !important;
    box-shadow:3px 6px 15px rgba(255, 227, 77, 0.6);
    border: 2px solid var(--yellow) !important;
  }
  .modalSaveBtn2:hover{
    background-color: var(--orange) !important;
    color: #fff !important;
    
  }
  .customWidthBox{
    width: 400px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .customWidthBox img{
    width: 100px;
    height: 100px;
  }
  .blackColor{
    color: #000 !important;
    margin-top: 20px !important;
  }
  @import "~slick-carousel/slick/slick.css"; 
  @import "~slick-carousel/slick/slick-theme.css";
  

  /*****************EditProfile****************/
  .whiteBoxRight{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.16);
    border-radius: 5px;
    
    background-color: #fff;
  }
  .rightBox1{
    border-bottom: 1px solid rgba(186, 186, 186, 0.5);
    padding: 20px;

  }
  .rightBox2{
    padding: 20px;
  }
  .rightBox2 ul{
    padding: 0px !important;
    list-style: none !important;
  }
  .rightBox2 ul li{
    margin-top:25px;
    margin-bottom: 25px;
  }
  .rightBox2 ul li a{
    display: flex;
    align-items: center;
  }
  .rightBox2 ul li a img{
    height: 25px;
    width: 25px;
    margin-left: 15px;
  }
  .rightBox2 ul li a{
    font-family: 'IRANSansMedium' !important;
    color: #000;
    font-size: 15px;
    text-decoration: none;
  }
  .rightBox2 ul li a:hover{
    font-family: 'IRANSansBold' !important;
    color: var(--dark-green) !important;
  
  }
  .rightBox2 ul li a .active{
    font-family: 'IRANSansBold' !important;
    color: var(--dark-green) !important;
  
  }
  .rightBox1 img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: 20px;
  }
  .userName{
    font-family: 'IRANSansBold';
    color: #000;
    font-size: 15px;
    margin-bottom: 5px !important;
  }
  .userNumber{
    font-size: 13px;
    font-family: 'IRANSans';
    color: #7B808C;
    margin-bottom: 0px;
  }
  .panelTitle{
    font-family: 'IRANSansBold';
    color: var(--orange);
    font-size: 15px;
    margin-right: 10px;
    margin-bottom: 0px !important;
  }
  .editProfileBtn{
    background-color: var(--orange) !important;
    font-family: 'IRANSansBold' !important;
    color: #fff !important;
    border-radius: 5px !important;
    border: 2px solid var(--orange) !important;
  }
  .topBox{
    border-bottom: 1px solid rgba(186, 186, 186, 0.5);
    padding-bottom: 15px;
  }
  .grayBox{
    background-color: #F7F6F9;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  .priceShow{
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #DADADA;
    font-size: 13px;
    font-family: 'IRANSans';
    height: 36px;
    display: flex;
    align-content: center;
    align-items: center;
    width: 60%;
    margin-top:15px;
  }
  .priceSelect{
    width: 80px !important;
    background-color: #fff !important;
    border: 1px solid #DADADA;
    font-family: 'IRANSans' !important;
    font-size: 13px !important;
    height: 36px;
    margin-top:15px;
  }
  .addressBox{
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    padding: 15px;
    margin-top: 15px;
  }
  .addressBox p{
    font-family: 'IRANSans';
    color: #000;
    font-size: 15px;
    margin-bottom: 0px;
  }
  .gTransparentBtn{
    color: var(--dark-green) !important;
    font-family: 'IRANSans';
    font-size: 15px;
    border: none !important;
    background-color: transparent !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
  .oTransparentBtn{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    color: var(--orange) !important;
    font-family: 'IRANSans';
    font-size: 15px;
    border: none !important;
    background-color: transparent !important;
  }
  /*********Single Product************/

  @import "~react-image-gallery/styles/css/image-gallery.css";
  .singleBox1{
    background-color: #fff;
    /* padding: 2rem 1rem;
    margin-right: 1rem;
    margin-left: 1rem; */
    margin-top:16px;
    margin-bottom: 5px;
  
padding:22px 33px 43px 33px;
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.16);
border-radius: 5px;
  }  


.singleProductContainer{

  background-color: var(--c-gray-1);

}
.breadCrumbs ul li{
  display: inline-block;
  color: #7B808C;
  font-size: 15px;
  font-family: 'IRANSans';
  margin-top: 5px;
}
.breadCrumbs ul li a{
  color: #7B808C;
  font-size: 15px;
  font-family: 'IRANSans';

}
.breadCrumbs ul{
  display: flex;
}
.breadCrumbs{
  /* padding-top: 1rem;
  padding-bottom: 1rem; */
  margin-right:65px;

}

.singleTitle{
  color: var(--dark-green);
  font-family: 'IRANSansBold';
  font-size: 18px;
  text-align: right;
}
.singleModelP{
  color: #7B808C;
  font-family: 'IRANSans';
  font-size: 15px;
  text-align: right;
}
.singleRateP{
  color: var(--dark-green);
  font-family: 'IRANSans';
  font-size: 15px;
  text-align: right;
  margin-right:6px;

  /* margin-top: 8%; */
}
.singleTitleCatP{
  color: var(--dark-green);
  font-family: 'IRANSansMedium';
  font-size: 12px;
  text-align: right;
  margin-right:26px;
  /* margin-top: 8%; */
}
.singleCatP{
  color: var(--orange);
  font-family: 'IRANSans';
  font-size: 12px;
  text-align: right;
  margin-right:11px;
  border-bottom-style: dotted;
  /* margin-top: 8%; */
}
.singleTitleBox{

  /* border-width: 1px;
  border-color:#000 ; */
  border-bottom: 1px solid #E4E4E4;

  padding-left: 26px;
  padding-right: 0px;
  /* margin-top: 8%; */
}
.singleTitleProperty{
  color: var(--dark-green);
  font-family: 'IRANSansMedium';
  font-size: 18px;
  text-align: right;
  margin-top:20px;
}
.singlePropertyDis{
  color: var(--black);
  font-family: 'IRANSans';
  font-size: 15px;
  text-align: right;
}
.greyLightBox{
  /* border: solid 0.3px #aaa; */
  background-color: var(--c-gray-1);
  border-radius: 5px;
  margin-top: 20px;
  width: 263px;
}
.titleGrayBox{
  color: var(--black);
  font-family: 'IRANSansMedium';
  font-size: 15px;
  text-align: center;
  margin-right: 14.5px;
  margin-top: 14px;
}
.boxGreyBox{
  border-bottom: 1px solid  rgba(186, 186, 186, 0.25);
align-items: center;
padding-right: 10px;
}
.boxGreyBox2{
  border-bottom: 1px solid  rgba(186, 186, 186, 0.25);
align-items: center;
padding-right: 18px;
}
.costTitleGrayBox{
  color: var(--black);
  font-family: 'IRANSansMedium';
  font-size: 15px;
  text-align: right;
  margin-right: 15px;
  margin-top: 15px;}
.costGrayBox{
  color: var(--black);
  font-family: 'IRANSansMedium';
  font-size: 15px;
  text-align: left;
  margin-left: 15px;
}
.costGrayBoxStroke{
  color: var(--black);
  font-family: 'IRANSansMedium';
  font-size: 10px;
  text-align: left;
  margin-left: 15px;
  text-decoration-line: line-through;
  
}
.costNumber{
  color: var(--black);
  font-family: 'IRANSansMedium';
  font-size: 18px;
  text-align: left;
  margin-right: 0px;
}
.counterDiv{
  border: 1px solid #a7a7a7;
  width: 70px;
  height: 29px;
  border-radius: 50px;
  /* padding: 5px; */
  font-family: 'IRANSans' ;
  color: var(--black);
  margin-left: 17px;
  /* margin-right: 20px; */
}
.decBTN{
  margin-right: 8px;
  background-color: transparent;
  border: none;
  color: var(--dark-green);
  font-size: 18px;
  font-family: 'IRANSansMedium';

}
.inBTN{
  margin-left: 8px;
  background-color: transparent;
  border: none;
  color: var(--dark-green);
  font-size: 18px;
  font-family: 'IRANSansMedium';

}
.addToCart{
  color: #fff;
  font-family: 'IRANSansMedium';
  text-align: center;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
    border: none !important;
  background-color: var(--yellow) !important;
  display: flex!important;
  justify-content: center;
  height: auto;
  margin-top: 16px;
  margin-bottom: 16px;
}
.addToCartTitle{
  margin-bottom: 0px !important;
  margin-right: 16px;
}

/* .cTabList{
  width: 100%;
  white-space: nowrap;
  overflow-x: scroll;
} */
.cTabList{
  text-align: right;
  border-bottom: 2px solid #ececec;
  padding-right:5px;
  display: flex;
  list-style: none;
}
.cTabList li:hover{
  cursor: pointer;
}
.react-tabs__tab-panel{
  text-align: right;
  padding: 15px;
}
/* .cTabList{
  white-space: nowrap !important;
overflow-x: scroll !important;
overflow-y: none !important;
height: 50px !important;
} */
.cTabList .react-tabs__tab{
  font-family: 'IRANSansMedium';
  color:#111;
  font-size: 15px;
  padding:10px 25px;

}
.cTabList .react-tabs__tab--selected {
  background: #fff;
  /* border-color: #aaa; */
  /* color: black; */
  /* border-radius: 5px 5px 0 0; */
  border-right: none !important;
  border-left: none !important;
  border-top: none !important;
  border-bottom: 3px solid var(--orange);
  font-family: 'IRANSansBold';
  color:var(--orange);
}

.propertyBox{
  margin-left: 7px;
  background-color: #FAFAFA;
  border: none;
  color: var(--dark-green);
  width: 166px;
height: 42px;
display: flex!important;
justify-content: center;
/* height: auto; */
/* padding-top: 10px; */
align-items: center;
/* margin-top: 10px;
margin-bottom: 10px; */
}
.propertyBoxDes{
  margin-left: 7px;
  background-color: #FAFAFA;
  border: none;
  color: var(--dark-green);
  width: 450px;
height: 42px;
display: flex!important;
/* justify-content: center; */
/* height: auto; */
align-items: center;

padding-right: 10px;
/* margin-top: 10px;
margin-bottom: 10px; */
}
.propertyBoxTitle{
  font-family: 'IRANSansMedium';
  color:#111;
  font-size: 15px;
  margin-bottom: 0px !important;


}
.propertyDesTitle{
  font-family: 'IRANSans';
  color:#111;
  font-size: 15px;
  margin-bottom: 0px !important;

}


/**********PaginationStyle**********/
.css-19xm0h7-MuiButtonBase-root-MuiPaginationItem-root{
  border-radius: 50% !important;
  font-family: 'IRANSans' !important;
  color: var(--dark-green) !important;
}
.css-19xm0h7-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected{
  background-color:var(--dark-green) !important ;
  color: #fff !important;
}

/************Wallet***********/
.variz{
  font-family: 'IRANSansBold';
  color: var(--dark-green);
  font-size: 15px;
  margin-bottom: 0px;
}
.bardasht{
  font-family: 'IRANSansBold';
  color: #FF2525;
  font-size: 15px;
  margin-bottom: 0px;
}
.tarikh{
  font-family: 'IRANSansMedium';
  color: #000;
  font-size: 15px;
  margin-bottom: 0px;
}
.pd15{
  padding:15px !important;
}
.IotImg{
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  display: block;
  margin-top: 30px;
}
.addSection{
  background-color: transparent !important;
  border: none !important;
  color: var(--dark-green) !important;
  font-family: 'IRANSansMedium';
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.addDeviceText{
  color: var(--orange);
  font-family: 'IRANSansMedium';
  margin-bottom: 0px;
  margin-right: 15px;
}
.accardionBox2{
  border: 1px solid #DCDCDC;
  border-radius: 5px
}
.accardionBox2 .accordion__button{
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}
.accBox{
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  
}
.borderBottomGray{
  border-bottom: 1px solid rgba(186, 186, 186, 0.5);
  padding: 10px 15px;
}
.caretDownBtn{
  background-color: transparent !important;
  border: none !important;
  padding: 0px !important;
  margin-right: 10px;
}
.accBox2{
  width: 95%;
  margin-right: auto;
  margin-left: auto;
  display: block;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.16);
  margin-top: 15px;
  margin-bottom: 15px;
}
.groundBox{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  border-bottom: 1px solid rgba(186, 186, 186, 0.5);
}
.groundBox2{
  

  padding: 10px 15px;
  border-bottom: 1px solid rgba(186, 186, 186, 0.5);
}
.groundName{
  font-family: 'IRANSans';
  margin-bottom: 0px;
  margin-left: 10px;
}
.MuiTooltip-popper{
  font-family: 'IRANSans' !important;
}
.deviceManage{
  font-family: 'IRANSansBold';
  color: var(--orange) !important;
  border: 1px solid var(--orange) !important;
  background-color: transparent !important;
  font-size: 12px !important;
}
.deviceManage:hover{
  background-color: var(--orange) !important;
  color: #fff !important;
}
.condition{
  font-family: 'IRANSansBold';
  color: #000;
  margin-bottom: 0px !important;
  margin-left: 15px;
}
.conditionBox{
  margin-top: 20px;
  padding: 15px;

}
.bSelect2{
  width: 120px !important;
  border: 2px solid #000 !important;
  box-shadow: none !important;
  margin-right: 10px;
  margin-left: 10px;
  font-family: 'IRANSans' !important;
}
.bSelect3{
  width: 70px !important;
  border: 2px solid #000 !important;
  box-shadow: none !important;
  margin-right: 10px;
  margin-left: 10px;
  font-family: 'IRANSans' !important;
}
.conditionInput{
  border: 2px solid #000;
  width: 80px;
  margin-right: 10px;
  margin-left: 10px;
  font-family: 'IRANSans' !important;
  padding: 10px;
  height: 40px;
  border-radius:5px;
}
.addBtn{
  background-color: var(--orange) !important;
  border: none !important;
  filter: drop-shadow(0px 4px 4px #FECBB8) !important;
  height: 36px;
  width: 35px;
  padding: 0px !important;
  margin-right: 10px;
}
.deviceStatus{
  width: 80px;
  height: 29px;
  
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.deviceStatus p{
  font-family: 'IRANSansMedium';
  color: #fff;
  margin-bottom: 0px;
}
#kharab{
  background-color: #FF2525;
}
#salem{
  background-color: var(--dark-green);
}
.portTable {

}
.portTh{
  font-family: 'IRANSansBold';
  font-size: 14px;
  color: #000;
  text-align: center;
}
.portTd{
  font-family: 'IRANSans';
  font-size: 12px;
  color: #000;
  text-align: center;
}
.modalSaveBtn2{
  background-color: transparent !important;
  color: var(--orange) !important;
  border: none !important;
  font-family: 'IRANSansMedium' !important;
}
.whiteMiniBox{
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.16);
  width: 120px;
  height: 140px;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  margin-left: 18px;
  margin-right: 18px;
  margin-bottom: 18px;
  text-decoration: none !important;
}
.whiteMiniBoxTitle{
  font-family: 'IRANSansBold';
  font-size: 14px;
  color: #000;
  margin-bottom: 0px !important;
}
.whiteMiniBoxStatus{
  font-size: 13px;
  font-family: 'IRANSans';
  color: var(--dark-green);
  margin-bottom: 0px !important;
}
.whiteMiniBox img{
  width: 45px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.boxRow{
  flex-wrap: wrap;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}
.nav-tabs{
  text-align: center;
  justify-content: center;
}
.nav-item{
  font-size: 15px;
  font-family: 'IRANSans' !important;
  color: #000;
}
.nav-link{
  color: #000 !important;
}
.nav-tabs .nav-link.active{
  color: var(--orange) !important;
  font-family: 'IRANSansBold' !important;
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
  border-bottom: 2px solid var(--orange) !important;
}
.nav-tabs .nav-link{
  margin-right: 5px !important;
  margin-left: 5px !important;
}
.productCard{
  width: 290px;
  height: 360px;
  filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.1));
  border-radius: 5px;
  background-color: #fff;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-decoration: none !important;

}
.link{
  text-decoration: none !important;

}
.a1{
  text-decoration: none !important;
  font-family: 'IRANSans';
  color:#000 !important;
}

.a2{
  text-decoration: none !important;
  font-family: 'IRANSansBold';
  color:#000 !important;
}
.productImg{
  width: 190px;
  height: 190px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  margin-bottom: 10px;
}
.productName{
  font-family: 'IRANSansBold';
  color: #000;
  margin-bottom: 5px !important;
  font-size: 15px;
}
.productVolume{
  font-family: 'IRANSans';
  color: #000;
  margin-bottom: 5px;
  font-size: 13px;
}
.productPrice{
  font-family: 'IRANSansMedium';
  color: #000;
  font-size:15px ;
  margin-bottom: 0px !important;
}
.productPriceStroke{
  font-family: 'IRANSansMedium';
  color: #000;
  font-size:10px ;
  margin-bottom: 0px !important;
  text-decoration-line: line-through;
}
.marginLeft5{
  margin-left: 5px;
}
.box2Div{
  border-top: 1px solid #E5E5E5;
  padding: 10px 20px;

}
.consultBoxF{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.16);
  border-radius: 5px;
  height: 80px;
  width: 95%;
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 18px;
}
.consultAvatar{
  height: 55px;
  width: 55px;
  border-radius: 50%;
  margin-left: 20px;
}
/***********TicketList***********/
.ticketListBox{
  border: 1px solid #dcdcdc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  padding: 15px 20px;
  margin-bottom: 15px;
  margin-top: 15px;
}
.viewBtn{
  background-color: transparent !important;
  border: none !important;

}
.ticketStatus{
  border-width: 2px;
  border-radius: 5px;
  border-style: solid;
  width: 130px;
  height: 33px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ticketStatus span{
  font-family: 'IRANSansMedium';
  font-size: 14px;

}
#answered{
  border-color: #009959;
}
#answered span{
  color: #009959;
}
#waiting{
  border-color: #FFD200;
}
#waiting span{
  color:#FFD200;
}
#closed{
  border-color: #FF2525;
}
#closed span{
  color:#FF2525 ;
}
.ticketModal .modal-dialog{
  width: 600px;
}
.consultBoxF2{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.16);
  border-radius: 5px;
  height: 80px;
  width: 100%;
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 18px;
}
.repeatConsult{
  background-color: transparent !important;
  border: none !important;
  color: var(--orange) !important;
  font-family: 'IRANSansMedium';
}
.historyBox{
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.historyTitle{
  font-family: 'IRANSansBold';
  color: #000;
}
.historyProductBox{
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  width: 95% !important;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}
.historyImg{
  border: 0px solid #000;
  height: 70px;
  width: 70px;
  margin-left: 15px;
}
.HistoryProductTitle{
  font-family: 'IRANSansBold';
  color: var(--dark-green);
  margin-bottom: 7px !important;
  font-size: 14px;
}
.HistoryProductModel{
  font-family: 'IRANSans';
  color: #7B808C;
  margin-bottom: 0px;
  font-size: 13px;
}
.historyPrice{
  font-family: 'IRANSansMedium';
  font-size: 15px;
  text-align: left;
  font-size: 14px;
}
.toggleText{
  font-family: 'IRANSansBold';
 color: #000;
}
.accardionBox5{
  border-bottom: 1px solid #e5e5e5 !important;
  text-align: right !important;
  background-color: #fff !important;
  border-radius: 5px !important;
  padding: 18px;
  box-shadow:  0px 4px 10px rgba(0, 0, 0, 0.16);
  margin-top: 15px;
  height: 60px;
}
.sortText{
  font-family: 'IRANSansBold';
  color: #000;
  margin-right: 15px;
}
.sortBtn{
  background-color: transparent !important;
  border: none !important;
  font-family: 'IRANSans';
  color: #000 !important;
  border-radius: 50px !important;
  margin-right: 10px;
  margin-left: 10px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.sortBtn:active{
 
}
.sortBtn:active, .sortBtn:focus{
  background-color: #009959 !important;
  color: #fff !important;
}
.boxText{
  font-family: 'IRANSansMedium'; 
  color: #000;
}
.whiteBoxGrayborder{
  border-bottom: 1px solid  rgba(186, 186, 186, 0.25);
  padding: 15px;
}
.boxText2{
  font-family: 'IRANSans' !important;
  margin-top: 10px;
  font-size: 14px;
}
.yellowColor{
  background-color: #FFD200 !important;
  color: #fff !important;
  border: none !important;
  font-family: 'IRANSansBold';
  width: 90% !important;
  height: 40px;
  margin-right: auto !important;
  margin-left: auto !important;
  display: block !important;
  margin-bottom: 15px;
}
.yellowColor:hover{
  background-color: var(--orange) !important;
}
.customPad{
  padding-right:20px !important ;
  padding-left:20px !important ;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
.zirNevis{
  font-family: 'IRANSans';
  color: #7B808C;
  margin-top: 10px;
  margin-right: 10px;
}
.cartPBox{
  border: 1px solid #DCDCDC;
  border-radius: 5px;
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cartImg{
  width: 130px;
  height: 130px;
  margin-left: 30px;
}
.deleteBtn{
  background-color: transparent !important;
  border: none !important;
}
.alertText{
  color: var(--orange) !important;
  margin-bottom: 0px;
  font-family: 'IRANSansMedium';
  font-size: 14px;
  margin-top: 15px;
}
.addressSelect{
  width: 100% !important;
  background-color: #F7F6F9 !important;
  border: none !important;
  font-family: 'IRANSans' !important;
  margin-top: 10px;
  margin-bottom: 20px;
}
.vaziyat{
  font-family: 'IRANSans';
  color: var(--orange);
}
.sortNews{
  border-bottom: 1px solid  rgba(186, 186, 186, 0.5);
  padding: 15px 20px;
}
.newsCategory{
  list-style: none !important;
  padding-bottom: 25px;
}
.newsCategory li a{
  color: #000;
  font-family: 'IRANSans';
  text-decoration: none !important;
}
.newsCategory li{
  margin-top: 15px;
  margin-bottom: 15px;
}
.newsCategory li a:hover{
  color: #009959 !important;
  font-family: 'IRANSansBold';
}
.bigNewsBox{
  display: flex;

}
.r5 img{
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  display: block;
}
.breadCrumbs{

  margin-bottom: 10px;
  padding-top: 10px;
}
.bigNewsImg{
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  display: block;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.bigNewsCol{

  width: 50%;
}
.bigNewsBox{
  border: 2px solid #ededed;
  border-radius: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.newsDate{
  font-family: 'IRANSans';
  font-size: 14px;
}
.newsTitle{
  font-family: 'IRANSansBold';
  font-size: 18px;
}
.newsDesc{
  font-family: 'IRANSans';
  width: 80%;
}
.bigPad{
  padding: 30px;
}
.textDetail{
  font-family: 'IRANSansMedium';
  color: var(--orange) !important;
  text-decoration: none !important;
}
.newsBtn{
  background-color: transparent !important;
  border: none !important;
  padding: 0px !important;
  margin-left: 10px;
}
.newsBtn2{
  background-color: transparent !important;
  border: none !important;
  padding: 0px !important;
  margin-left: 10px;
}
.textDetail2{
  font-family: 'IRANSansMedium';
  color: #000;
  text-decoration: none !important;
}
.newsBtnIcon{
  color: var(--orange);
}
.newsBtnIcon2{
  color: #000;
}
.miniNewsBox{
  width: 270px;
  border:1px solid #c6c6c6;
  border-radius: 5px;
  margin-right: 10px;
  margin-left: 10px;
}
.miniNewsBox img{
  width: 100%;
  min-height: 200px;
  max-height: 200px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  object-fit: contain;
}
.newsB{
  padding: 20px;
  
}
.mediumNewsBox{
  display: flex;
  align-items: stretch;
  border:1px solid #c6c6c6;
  border-radius: 5px;
}
.headBox{
  display: flex;
  justify-content: space-between;
  padding: 15px 25px;
  border-bottom: 1px solid rgba(186, 186, 186, 0.5)
}
.headerNews{
  font-family: 'IRANSansBold';
  color: #000;
}
.headerDate{
  font-family: 'IRANSansMedium';
  color: var(--dark-green);
}
.addFavorite{
  color:#FF2525 !important;
  font-family: 'IRANSansMedium';
  background-color: transparent !important;
  border: none !important;
}
.customM{
  margin-left: 10px;
}
.newsTextBox{
  padding: 15px 25px;
}
.newsTextBox p{
  font-family: 'IRANSans';
  line-height: 28px;
  margin-right: 15px;
  margin-left: 15px;
  margin-top:15px;
}
.newsImgSingle{
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  display: block;
}
.userNameCommnet{
  font-family: 'IRANSansBold';
  color: #009959;
  margin-bottom: 0px;
}
.commentBox{
  padding: 15px 25px;
  margin-top: 15px;
  border-bottom: 1px solid #e4e4e4;
}
.writerScore{
  margin-bottom: 0px;
  font-family: 'IRANSans';
  margin-left: 15px;
}
.cInput{
  width: 50% !important;
  margin-right: 25px;
}
/***********Home*********/
/* .homeSlider .slick-slide{
  width: 100% !important;
}
.slick-track{
  width: 100% !important;
} */
.carousel-control-next, .carousel-control-prev{
  width: 3% !important;
}
.carousel-indicators [data-bs-target]{
  width: 15px !important;
  height: 15px !important;
  border-radius: 50%;
}
.slideGreenBtn{
  position: absolute;
  left: 15%;
  z-index: 10000;
  bottom: 15%;
  border-radius: 50px !important;
  height: 60px !important;
  box-shadow: 0px 4px 10px rgba(0, 153, 89, 0.24);
  height: 60px;
  min-width: 276px;
  color: #fff;
  font-family: 'IRANSansBold';
  font-size: 25px !important;
  border: none !important;
  background-color: var(--dark-green) !important;
}
.slideGreenBtn:hover{
  background-color: var(--yellow) !important;
  box-shadow:3px 6px 15px rgba(255, 227, 77, 0.6);
}
.yellowBtn{
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 50px !important;
  background-color: var(--yellow) !important;
  font-family: 'IRANSansBold';
  color: #fff !important;
  height: 38px;
  width: 150px;
  border: none !important;
  position: absolute;
  bottom: 20px;
  left: 15px;
}
.cardBack{
  background-color:  rgba(168, 181, 125, 0.56);
  position: relative;
  
  height: 39 0px;
  border-radius: 15px;
  width: 20%;
}
.gBack{
  position:absolute;
  bottom: 0px;
  width: 100%;
  right: 0;
}
.cardImg{
  position: absolute;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  display: block;
  top: 15%;
  right: 5%;
  z-index: 10000;
}
.cardText{
  position: absolute;
  font-family: 'IRANSansBold';
  color: #fff;
  bottom: 60px;
  margin-right: 15px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 23px;
}
.productSlider{
  width: 78%;
  height:390px;
  background-color: #E2E3E4;
  margin-right: 2%;
  border-radius: 15px;
}
.sendText{
  width: 50%;
  height: 200px;
  float: right;
  background-color: var(--c-gray-2);
  border-radius: 5px;
  margin-top: 10px;
}
.answerText{
  width: 50%;
  height: 200px;
  float: left;
  background-color: var(--c-gray-2);
  border-radius: 5px;
  margin-top: 10px;
}
.ticketShowModal .modal-dialog{
  width: 70% !important;
  max-width: 70% !important;

}
.senderData{
  height: 40px;
  background-color: #7B808C;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.senderData p{
  font-family: 'IRANSans';
  color: #fff;
  margin-bottom: 0px !important;
}
.modalScroll{
  height: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 15px 20px;
}
.productSliderTitle{
  font-family: 'IRANSansBold';
  color: #000;
}
.hrgray{
   border-top-color: #EAF1FB63;
   width: 78%;
    margin-right: 15px;
}
.sliderCardBox2{
  background-color: #fff;
  text-decoration: none !important;

  height: auto !important;
  margin-right: 15px;
  margin-left: 15px;
  height: 260px;
  text-align: center;
  /* padding: 25px !important; */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.16);
  border-radius: 5px;
  margin-bottom: 10px;
}
.miniSliderImg{
  width: 60%;
  margin-right: auto;
  margin-left: auto;
}
.rtl.react-multiple-carousel__arrow--right{
  left: calc(0% + 1px) !important;
}
.rtl.react-multiple-carousel__arrow--left {
  left: auto;
  right: calc(0% + 1px) !important;
}
.pLink{
  display: flex;
  justify-content: flex-start;
  text-decoration: none;
}
.pName{
  font-family: 'IRANSans';
  color: #000;
  margin-bottom: 10px;
  text-align: right;
  font-size: 14px;
}
.priceSlider{
  margin-bottom: 0px;
  color: #000;
  font-size: 12px;
  font-family: 'IRANSans';
  text-align: left;
}
.tamin{
  font-family: 'IRANSans';
  color: #000;
  text-align: right;
  font-size: 12px;
}
.consultationSlider2 {
  margin-top: 1%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.home2{
  width: 100%;
}
.home2Title{
  font-family: 'IRANSansDNBold';
  color: #000;
  font-size: 30px;
  margin: 30px;
}
.home2Des{
  font-family: 'IRANSansMedium';
  color: #000;
  width: 60%;
  margin: 30px;
}
.home3Des{
  font-family: 'IRANSansMedium';
  color: #000;
  width: 60%;
  margin-bottom: 0px;
}
.home2View{
  background-color: var(--orange) !important;
  font-family: 'IRANSans';
  color: #fff;
  border: none !important;
  border-radius: 50px !important;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  width: 150px;
  margin: 30px;
}
.heartmini{
  position: absolute;
  left: 0;
  background-color: transparent !important;
  border: none !important;
  color: #FF2525 !important;
}
.videoIcon{
  width: 50px;
  height: 50px;
  margin-right: 30px;
  margin-left: 20px;
}
.home3{
  width: 420px;
  height: 420px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.boxTitle{
  font-family: 'IRANSansBold';
  color: #000;
  font-size: 20px;
}
.seeALL{
  font-family: 'IRANSansBold';
  color: var(--dark-green);
  font-size: 20px;
  text-decoration: none !important;
}
.miniNewsBox{
  background-color: #fff;
}
.w100{
  width: 100%;
}
.w100 img{
  width: 100%;
}
.newsDes{
  font-family: 'IRANSans';
}
.storeMenu{
  background-color: #f4f4f4;
  width:100%;
  border-bottom: 1px solid #cecece;
  padding: 10px 50px 10px 50px;
  border-top: 1px solid var(--c-gray-2);
}
.storeMenu button{
  font-family: 'IRANSansBold';
  background-color: transparent !important;
  color: #000 !important;
  border: none !important;
 
}

.suggestions {
  border: 1px solid #f4f4f4;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;
  width: 600px;
  margin-right: auto;
  margin-left: auto;
  overflow-x: hidden;
  text-align: right;
  margin-top: -5px;
}

.suggestions li {
  padding: 15px;
}

.suggestion-active,
.suggestions li:hover {
  background-color: #ff004e;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
}

.grayBarContainerResponsive{
  display: none;
}
.desktopBlock{
  display: flex;
}
.responsiveBlock{
  display: none;
}
.cardBackResponsive{
  background-color: rgba(168, 181, 125, 0.56);
  display: flex;
  justify-content: space-between;
    padding-right: 5%;
    padding-left: 5%;
}
.cardBackResponsive .cardImg{
  position:unset !important;
  width: 50%;
  margin:10px !important
}
.cardBackResponsive .cardText{
  position:unset !important;
  margin-top: 8%;
}
.cardBackResponsive .yellowBtn{
  position: unset !important;
}
.cardBackResponsive .yellowBtn{
  display: unset !important;
}
.productSliderTitle{
  margin-right: 15px;
}
/********************responsive************/
@media screen and (max-width: 630px){
  .home3{
    width: 100% !important;
    height: auto !important;
  }
  .historyModal .modal-dialog{
    width: 100% !important;
    margin-bottom: 5%;
  }
  .modal-body textarea{
    height: 100px !important;
  }
  .modal-content{
    height: 450px;
    overflow: scroll;
  }
}
@media screen and (max-width:800px){
  .responsiveFlex{
    display: flex !important;
  }
  .responsiveFlexCol{
    width: 50% !important;
  }
  .grayBarContainer{
  display: none;
  }
  .cartBtnResponsive{
    border-radius: 50% !important;
    background-color: #fff !important;
    border: 1px solid #009959 !important;
    height: 40px !important;
    margin-left: 10px;
    width: 40px !important;
  }
  .profileBtnResponsive{
    margin-left: 10px;
    border-radius: 50% !important;
    background-color: #009959!important;
    border: 1px solid #009959 !important;
    height:40px !important;
    width: 40px !important;
  }
}
@media screen and (max-width:840px){
  .loginBox .grayBack{
    display: none !important;
  }
  .loginBody .whiteBack {
    width: 100% !important;
    max-width: 100% !important;
    border-radius: 15px !important;
  }
  .grayBarContainer{
    display: none;
    }
    .grayBarContainerResponsive{
      display: block !important;
    }
    .grayBar{
      height: auto;
    }
    .searchDiv{
      width: 100% !important;
    }
    .addressBox p{
      margin-right: 0px !important;
    }
    .addressBox .d-flex{
      flex-wrap: wrap;
    }
}
@media screen and (max-width:440px){
  .topBarText{
    font-size: 12px !important;
  }
  .logo{
    width: 80px !important;
  }
  .panelTitle{
    font-size: 10px !important;
  }
  .editProfileBtn{
    font-size: 12px !important;
  }

}
.miniNewsBox{
  margin-top:10px;
  margin-bottom: 10px;
}
@media screen and (max-width:1000px){
  .cTabList .react-tabs__tab{
    padding:10px 15px !important
  }
  .singleBox1{
   padding: 15px !important;
  }
  .cTabList{
    padding: 0px !important;
    overflow: scroll;
    white-space: nowrap;
  }
  
  .responsiveR1{
    display: block !important;
  }
  .responsiveR1 .gallery{
    width: 100% !important;
    max-width: 100% !important;
  }
  #singleOrder3{
    width: 100% !important;
    max-width: 100% !important;
  }
  .singleTitleBox{
    padding-top: 20px;
  }
  .greyLightBox{
    width: 100% !important;
  }
  .breadCrumbs{
    margin-right: 0px !important;
  }
  .userNameCommnet{
    margin-left: 50px;
  }
  .commentBox {
    overflow: scroll;
    white-space: nowrap;
  }
  .mediumNewsBox{
    margin-bottom: 15px;
  }
  .siteSlogan p{
    font-size: 20px;
  }
  .consultBoxF{
    overflow-x: scroll;
    white-space: nowrap;
    overflow-y: hidden;
  }
  .consultBoxF div{
    margin-right: 15px;
    margin-left: 15px;
  }
  .consultBoxF2{
    overflow: scroll;
    white-space: nowrap;
  }
  .consultBoxF2 div{
    margin-right: 15px;
    margin-left: 15px;
  }
  .historyModal .modal-dialog{
    width: 100% !important;
  }
  .conditionBox {
    overflow: scroll;
    white-space: nowrap;
  }
  .nav-tabs{
    padding-right: 0px !important;
  }
  .nav-link{
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  .accBox{
    overflow: scroll;
    white-space: nowrap;
  }
  .consultModal2 .modal-dialog{
    width: 100% !important;
  }
  .r3{
    flex-wrap: wrap;
  }
 .r3 .addSection{
  padding-right: 0px !important;
 }
 .r3 p{
  margin-bottom: 20px;
 }
 .addDeviceText{
  margin-bottom: 0px !important;
 }
  .accBox .d-flex div{
    margin-left: 50px;
  }
  .answerText{
    width: 100% !important;
  }
  .sendText{
    width: 100% !important;
  }
  .consultModal .modal-dialog{
    width: 100% !important;
    max-width: 100% !important;
    margin-right: 0px !important;
  }
  .ticketShowModal .modal-dialog{
    width: 100% !important;
    max-width: 100% !important;
    margin-right: 0px !important;
  }
  .ticketModal .modal-dialog{
    width: 100% !important;
    margin-right: 0px !important;
  }
  .ticketListBox div{
    margin-right: 10px;
    margin-left: 10px;
  }
  .ticketListBox{
    overflow: scroll;
    white-space: nowrap;
  }
  .r1{
    flex-wrap: wrap;
  }
  .r2{
    flex-wrap: wrap;
  }
  .r1 .editProfileBtn{
    margin-top: 10px;
  }
  .wBoxRes{
    width: 100% !important;
    justify-content: center !important;
    padding: 10px !important;
  }
  .scrollResponsive{
    width: 100%;
    overflow: scroll;
    white-space: nowrap;
  }
  .miniNewsBox img{
    height: auto !important;
  }
  .searchBtn{
    font-family: "IRANSans" !important;
    font-size: 15px !important;
  }
  .bodyPadding {
    max-width: 100% !important;
    width: 100% !important;
  }
  .cartBtnResponsive{
    border-radius: 50% !important;
    background-color: #fff !important;
    border: 1px solid #009959 !important;
    height: 40px !important;
    margin-left: 10px;
    width: 40px !important;
  }
  .profileBtnResponsive{
    margin-left: 10px;
    border-radius: 50% !important;
    background-color: #009959!important;
    border: 1px solid #009959 !important;
    height:40px !important;
    width: 40px !important;
  }
  .whiteBox{
    margin-top: 15px;
  }
  .suggestions{
    border: none !important;
  }
  .storeMenu{
    overflow: scroll;
    white-space: nowrap;
  }
  .grayBarContainer{
    max-width: 100% !important;
    width:100% !important;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .topBar .container{
    max-width: 100% !important;
    width:100% !important;
  }
  .searchDiv{
    width: 300px;
  }
  .logo{
    width: 120px;
    height: auto;
  }
  .slideGreenBtn{
    width: 150px;
    min-width: 120px;
    font-size: 15px !important;
    height: 35px !important;

  }
  .productSlider{
    height: auto !important;
  }
  body{
    height: auto !important;
  }
  .resContainer{
    max-width: 100% !important;
    width: 100% !important;
  }
  .desktopBlock{
    display: none !important;
  }
  .responsiveBlock{
    display: block !important;
  }

}
@media screen and (max-width:670px){
  .cTabList .react-tabs__tab{
    font-size: 12px !important;
  }
  .headBox{
    flex-wrap: wrap;
  }

  .mediumNewsBox{
    flex-direction: column-reverse !important;
  }
  .r5{
    width: 100% !important;
  }
  .bigNewsCol{
    width: 100% !important;
  }
  .bigNewsBox{
    flex-direction: column-reverse !important;
  }
  .topBarBtn{
    width: 120px;
  }
  .topBarBtn span{
    font-size: 12px;
  }
  .productSliderTitle{
    font-size: 12px !important;
  }
  .hrgray{
    width: 50%;
  }
  .whiteBar{
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 10000;
  }
}
@media screen and (max-width:550px){
  .whiteBox{
    padding: 10px !important;
  }
  .nav-link{
    padding-left: 5px !important;
    padding-right: 5px !important;
    font-size: 12px !important;
  }
  .historyTitle {
    font-size: 12px !important;
  }
  .vaziyat{
    font-size: 12px !important;
  }
  .historyBox .borderBottomGray{
    flex-wrap: wrap;
  }
  .historyPrice {
    font-size: 10px !important;
  }
  .HistoryProductTitle{
    font-size: 12px !important;
  }
  .HistoryProductModel{
    font-size: 10px !important;
  }
  .sliderTitle{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .sliderCardBox{
    margin-top: 15px;
  }
  .btnImg{
    width: 35px;
  }
  .topBarBtn span{
  font-size: 9px !important;

  }
  .topBarBtn{
    margin: 0px !important;
  }
  .slideGreenBtn{
    display: none !important;
  }
  .cardText{
    font-size: 15px !important;
  }
  .yellowBtn{
    font-family: "IRANSans" !important;
    font-size: 12px !important;
    width: 120px !important;
    height: 25px !important;
  }
  .productSlider{
    width: 100% !important;
  }
  .home2Des{
    width: 100%;
  }
  .col1{
    order: 2,
  }
  .col2{
    order:1,
  }
}
.topBox .d-flex{
  align-items: center;
}
.form-select{
  background-position: right 0.75rem center !important;
}
.accBox{
  margin-top: 15px;
  margin-bottom: 15px;
}
.productPriceStroke{
  color: red;
}
.menuList{
  list-style: none;
  padding-right: 0px !important;
  width: 15%;
}
.menuList p{
  font-family: "IRANSansBold";
  font-size: 18px;
}
.menuList li{
  font-family: "IRANSansMedium";
  margin-top:10px;
  margin-bottom: 10px;
  font-size: 14px;
}
.MuiTypography-root {
  font-family: "IRANSans" !important;
}
.MuiDialog-paper{
  min-width: 250px !important;
}